<section class="listing">
  <img class="listing-photo" [src]="atributosPabellon.photo" alt="Exterior photo of {{atributosPabellon.nombre}}">
  <h2 class="listing-heading">{{ atributosPabellon.nombre }}</h2>
  <p class="listing-location">{{ atributosPabellon.disponibilidad}}, {{atributosPabellon.disponibilidad }}</p>
  <a [routerLink]="['/detalles', atributosPabellon.id]">Saber más</a>
  <button type="button" class="delete button-selector" (click)="eliminarPabellon(atributosPabellon.id)">Eliminar universidad</button>
</section>
