<section>
  <form>
    <input type="text" placeholder="Filtrar por Pabellón" #filter>
    <button class="primary" type="button" (click)="filtrarResultado(filter.value)">Buscar</button>
    <button><a [routerLink]="['/agregacion']">Agregar Pabellón</a></button>
    <button><a [routerLink]="['/eliminacion']">Eliminar Pabellón</a></button>
  </form>
</section>
<section class="results">
  <app-atributos-pabellon *ngFor="let atributosPabellon of listaPabellonesFiltado" [atributosPabellon]="atributosPabellon" (pabellonEliminado)="eliminarPabellon($event)"></app-atributos-pabellon>
</section>
